@import "helpers/variables";
@import "helpers/mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  cursor: default;
  position: relative;
  background: $white;
  color: #333;
  font-size: 16px;
  &.lock {
    overflow: hidden;
  }
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
}
