@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

$white: #fff;
$black: #212121;
$gold: #ffcc00;

//official colors of ukrainian flag
$yellow: #ffd700;
$blue: #0057b8;