@import '../../../sass/helpers/variables';
@import '../../../sass/helpers/mixins';

.hamburger {
  display: none;
}

.menu_icon {
  width: 20px;
  height: 20px;
  &.member {
    background: url('../../../../src/img/icons/user.svg') center no-repeat;
    background-size: cover;
  }
  &.support {
    background: url('../../../../src/img/icons/hand-holding-heart.svg') center no-repeat;
    background-size: cover;
  }
}
.menu_title {
  margin-top: 4px;
  font-size: 10px;
  color: $blue;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
  header {
    .hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      opacity: 1;
      transition: all 0.3s;
      padding: 16px;
      span {
        display: block;
        width: 32px;
        height: 3px;
        border-radius: 2px;
        margin: 8px 0;
        background: $blue;
        &:first-of-type,
        &:last-of-type {
          margin: 0;
        }
      }
      &.hidden_smooth {
        transition: all 0.3s;
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
}
